
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  padding: 0 20px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header_logo {
  width: 100px;
  object-fit: contain;
}


.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  margin: 0 10px;
}

.header_searchInput {
  height: 13px;
  padding: 10px;
  border: none;
  width: 90%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.header_searchIcon {
  padding: 5px;
  height: 23.5px !important;
  background-color: #cd9842;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.header_options {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 5px;
  color: white;
}

.header_optionLineOne {
  font-size: 10px;
  color: rgb(232, 224, 224);
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header_basketCount {
  margin-left: 4px;
  margin-right: 10px;
  color: #cd9842;
}

.header_clearLinks {
  text-decoration: none;
  color: inherit;
}
.hover_effect{
  padding: 4px;
  border-radius: 3px;
}
.hover_effect:hover{
  border: 2px solid rgb(232, 224, 224);
}

/* Responsive styles */
@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .header_logo {
    width: 80px;
  }

  .header_search {
    margin: 10px 10%;
  }

  .header_nav {
    flex: 1 0 100%;
    justify-content: space-around;
    gap: 5px;
  }

  .header_options {
    margin: 0 5px;
  }

  .header_optionLineOne {
    font-size: 9px;
  }

  .header_optionLineTwo {
    font-size: 11px;
  }
}

@media (max-width: 560px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .header_logo {
    width: 70px;
    margin: 5px;
  }

  .header_search {
    margin: 5px 8%;
  }

  .header_nav {
    flex: 1 0 100%;
    justify-content: space-evenly;
    gap: 5px;
  }

  .header_options {
    font-size: 12px;
    margin: 0 5px;
  }

  .header_optionLineOne {
    font-size: 8px;
  }

  .header_optionLineTwo {
    font-size: 10px;
  }

  .header_optionBasket {
    font-size: 14px;
  }

  .header_basketCount {
    margin: 0 5px;
    font-size: 10px;
  }
}
