.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
}

.login__logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }

.login__container {
    width: 27%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 10vh;
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }

.login__container > p {
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton {
    background: #FFD814;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    border: none;
    margin-top: 10px;
  }

  .login__registerButton {
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
    height: 30px;
    border: 1px solid;
    border-color: darkgray;
  }
  
  @media (min-width: 576px) and (max-width: 767px) {
    /* CSS styles for devices between 576px and 767px */
    .login__container {
      width: 45%;
    }
}
@media (max-width: 575px) {
  /* CSS styles for devices up to 575px */
  .login__container {
    width: 60%;
  }
}
  